nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navlinks {
  margin: 0.5rem;
  padding: 1.5rem;
  font-size: 4rem;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 2rem;
}

.active {
  color: salmon;
}
