.poke {
  width: 100%;
  margin: auto;
}

.pokemon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.floating-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  padding: 2rem;
  box-sizing: border-box;
}

.floating-image {
  animation: floatAnimation ease-in-out infinite;
  animation-duration: 4s;
  animation-delay: calc(var(--delay) * 1s);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pokemon-name {
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}

.item {
  font-size: 3rem;
  width: 30%;
  height: 30%;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
}
