.poke {
  width: 80%;
  margin: auto;
  text-align: center;
}

.pokemon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.floating-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  border-radius: 2rem;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.floating-image {
  animation: floatAnimation ease-in-out infinite;
  animation-duration: 4s;
  animation-delay: calc(var(--delay) * 1s);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pokemon-name {
  text-align: center;
  font-size: 7rem;
  padding: 1rem;
  margin: 3rem 0;
  width: 100%;
  color: #ff5733;
}

.item {
  font-size: 4rem;
  width: calc(33.33% - 1rem);
  height: auto;
  margin: 0.5rem;
  border: 2px solid #ff5733;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.item:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
}
